/* menu.css */

/* Desktop Styles */
.menu {
  background-color: #eee;
  height: 50px;
}

.menu ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.menu li {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.menu li.active {
  font-weight: bold;
  background-color: #464646;
  color: #fff;
}

.mobile-menu-icon {
  display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {

  .mobile-menu-icon {
    display: block;
  }

  .menu {
    height: 100%;
    text-align: center;
    padding: 5px;
  }

  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: 1;
    height: auto;
  }

  .menu.mobile-menu-open ul {
    display: block;
  }

  .menu li {
    display: flex;
    padding: 15px 0;
  }
}
