body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}

.header img {
  width: 14em;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content-area {
  margin-bottom: 80px;
}

.categories {
  margin-bottom: 30px;
  text-align: center;
}

.categories h2 {
  font-size: 24px;
  color: #333;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories li {
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 17px;
}

#clearbtn-li {
  border: 1px solid #f99c9c;
  background-color: white;
  transition: none;
}

#clearbtn-li:hover {
  background-color: #e6e6e6; /* Adjust background color on hover */
}

.categories li:hover {
  background-color: #e0e0e0;
}

.profile {
  text-align: center;
}